<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!--jQuery Link-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!--Bootstrap Links-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--CSS Style Sheet-->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <!--Google Fonts Link-->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

        <title>Newscrape || NPR News Scraper</title>
    </head>
    <body>

    <header>
    <div class="topContainer">
        
            <a href="/"><div id="headerTag"><img class="tagLogo" src="/assets/img/newscrape_logo.svg"></div></a>

            <div id="leftMenu">
                    <span><a href="/">Scraped Articles</a></span>              
                    <span><a href="/saved">Saved Articles</a></span>              
            </div>

            <div id="rightMenu">
                   <button type="button" class="btn" id="scrape">Scrape Articles</button>       
            </div>    
                    
    </div>
    </header>
    <div class="mainContainer">
        <img class="headerLogo" src="/assets/img/newscrape_header.svg">
        <div id="mainHidden"><button type="button" class="btn" id="scrape">Scrape Articles</button></div>
    </div>
    {{{ body }}}

        <!--External JS Link-->
        <script src="/assets/js/app.js"></script>
    </body>
</html>